/************section css  *********/


/************ mise en page et les syles à respecter  *********/
/* section sites touristiques background color #009FB7
section Toursbynight background color #32213A
 section Loisirs background color #43C59E
 bandeau nav background color black

 color white font color 
 font <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
/* font-family: 'Poppins', sans-serif; */

/************ General configuration *********/


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
